.navbar-brand {
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.navbar-brand>img {
    max-height: 120px;
    max-width: 180px;
    size: auto;
}

.navbar-nav {
    margin-right: 5%;
    margin-left: auto;
}

#description {
    color: white;
    background-color: gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    height: 50%;
    width: 90%;
}

.carousel-inner{
    margin: 5%;
    max-height: 50%;
}

#footer {
    margin-top: 5%;
    margin-left: 5%;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
}

