/* Header page */
.navbar-brand {
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.navbar-brand>img {
    max-height: 120px;
    max-width: 180px;
    size: auto;
}

.navbar-nav {
    margin-right: 5%;
    margin-left: auto;
}

#nav_bar .active {
    color: black;
}

/* Home page */
.carousel {
    /* background-color: rgb(169, 169, 169, .3); */
    max-width: 90%;
    height: 400px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner > .carousel-item > img{
    max-height: 100%;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1);
}

#title {
    text-align: center;
    border-bottom: solid 1px black;
    margin-left: 5%;
    margin-right: 5%;
    height: 50%;
    width: 90%;
}

#description {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    padding: 3%;
    height: 50%;
    width: 90%;
}

.row {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgb(69, 69, 69);
}

#column {
    
    color: white;
}

#contact {
    border-top: solid 1px white;
}



/* History page */
#history-text {
    /* border: solid 2px;
    border-color: aquamarine; */
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    height: 50%;
    width: 90%;
}



/* History and rental pages
h1 {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    text-align: center;
    border-bottom: solid 1px black;
} */



/* Rental page */
#rental-info {
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    /* padding-left: 3%;
    padding-right: 3%; */
}

/* Footer page */
#footer {
    border-top: solid 2px black;
    margin-top: 5%;
    margin-left: 5%;
    bottom: 0;
    width: 90%;
    /* Height of the footer*/
    height: 40px;
}

